@font-face {
  font-family: "Vazir";
  src: url(../../public/fonts/Vazir.eot);
  /* IE9 Compat Modes */
  src: url(../../public/fonts/Vazir.eot) format("embedded-opentype"),
    url(../../public/fonts/Vazir.woff2) format("woff2"),
    url(../../public/fonts/Vazir.woff) format("woff"),
    url(../../public/fonts/Vazir.ttf) format("truetype");
  /* Safari, Android, iOS */
}

body {
  font-family: "Vazir", sans-serif !important;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

/* رنگ متن و پس‌زمینه منوهای کشویی */
.form-select, .form-select option {
  color: #000;            /* متن سیاه */
  background-color: #fff; /* پس‌زمینه سفید */
  font-size: 1rem;        /* اندازه مناسب فونت */
}

/* wrapper برای ردیف‌های فاکتور که در دسکتاپ بزرگ scroll شود */
.invoice-row-wrapper {
  overflow-x: auto;
  width: 100%;
}

/* کمی فاصله و اندازه فونت بهتر در موبایل */
@media (max-width: 768px) {
  .form-select {
    font-size: 1.1rem;
  }
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
